<div class="container">
  <div class="row feedItem">
    <div class="col-xs-3 feedItemToDisplay thumbnail feedItem-listing"
        ng-if="feedItemToDisplay.id != null"
        ng-repeat="feedItemToDisplay in feedItems.feed_items | orderBy:orderProp">
         	<img ng-repeat="meta_item_picture in feedItems.meta_item_pictures"
         		   ng-if="meta_item_picture.id == feedItemToDisplay.meta_item_picture_ids[0]"
		      	   ng-src="{{feedItems.meta_item_pictures[$index].size_600}}" 
		      	   class="img-responsive img-rounded">
		<text><strong>{{feedItemToDisplay.title}}</strong></text><br/>
		<text>{{feedItemToDisplay.price_cents/100|currency}}</text>
    </div>
  </div>
</div>