<div class="container">
    <div ng-if="feedEntryToDisplay.id != null && feedEntryToDisplay.picture_url != null"
         class="row" 
         ng-repeat="feedEntryToDisplay in feedEntries.collections | orderBy:orderProp | filter:queryEntries">
      <a href="#/feedItems/{{feedEntryToDisplay.id}}">  
        <img ng-if="feedEntryToDisplay.picture_url != null"
             ng-src="{{feedEntryToDisplay.picture_url}}"
             class="img-responsive img-rounded"/>
      </a>
      <text class="text-primary"><strong>{{feedEntryToDisplay.title}}</strong></text><br/>
      <text class="text-primary">{{feedEntryToDisplay.subtitle}}</text>
      <hr/>
    </div>
</div>